androidrisk-AppEngine/resources/ZDJ.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by pcinstal (Université de Rennes 1/IFSIC) -->
<!--DTD generated by XMLSPY v5 rel. 4 U (http://www.xmlspy.com)-->
<!ELEMENT ZDJ (regions, territoires)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT id_country (#PCDATA)>
<!ELEMENT id_region (#PCDATA)>
<!ELEMENT limitrophe (#PCDATA)>
<!ELEMENT limitrophes (limitrophe+)>
<!ELEMENT name_region (#PCDATA)>
<!ELEMENT name_region_uppercase (#PCDATA)>
<!ELEMENT name_territoire (#PCDATA)>
<!ELEMENT region (id_region, name_region, name_region_uppercase, region_slug, id_country)>
<!ELEMENT region_slug (#PCDATA)>
<!ELEMENT regions (region+)>
<!ELEMENT territoire (id, id_region, name_territoire?, limitrophes)>
<!ELEMENT territoires (territoire+)>
